.button-choose {
  height: 150px;
  width: 200px;
  margin: 10px !important;
  display: flex;
  flex-direction: column;
}

.img-button-task {
  width: 85px;
  height: 85px;
}

.txt-decoration-none {
  text-decoration: none;
}
